<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>BirthdayMarket-v1.0</title>
    <meta name="description" content="Every Birthday deserves to be celebrated!" />

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BirthdayMarket-v1.0.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />

    <script src="js/bootstrap.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
