@page "/about"

<PageTitle>About Us</PageTitle>

<div class="container py-4">
    <h1>About BirthdayMarket</h1>
    <p>
        Welcome to BirthdayMarket, your one-stop shop for all things birthday! We are dedicated to providing you with a wide range of birthday products and services to make your special day unforgettable.
    </p>
    <p>
        At BirthdayMarket, we believe that every birthday is a unique celebration. That's why we offer a diverse selection of birthday supplies, decorations, gifts, and party planning services to cater to your individual needs and preferences.
    </p>
    <p>
        Our mission is to make birthday celebrations easy and enjoyable for everyone. Whether you're planning a small gathering or a grand event, our team is here to help you every step of the way.
    </p>
    <p>
        Thank you for choosing BirthdayMarket. We look forward to helping you create memorable birthday experiences!
    </p>
</div>



@code {
}
